src/main/mule/hello_world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d2a51365-1bfa-4610-b2c8-f444425816ea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello_worldFlow" doc:id="daea46b4-5160-40df-9055-8078b1238c71" >
		<http:listener doc:name="Listener" doc:id="7f210180-3c1d-46e0-af86-4a6b80b50e25" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="db24e3e7-3448-450d-83a1-212ae4ff5b3b" message="THe Flow is started----&gt;"/>
		<set-payload value='#["Hi all"]' doc:name="Set Payload" doc:id="f2914a6d-4e41-447f-b765-f87a8d5a1bce" />
		<ee:transform doc:name="Transform Message" doc:id="5587a185-305c-46d8-b679-1162fdfe56aa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	msg: payload ++ " Welcome to the world"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da80972a-97f4-4af2-91ff-01e76ab4d19a" message="The final output is ---&gt;#[payload]"/>
	</flow>
</mule>
